




    <div class="text-center">
        
        <h1 class="titulo"><img src="../assets/images/logomarvel.png" width="250" height="80" alt=""> {{title}}</h1>
    
    </div>
    

    <div class="row row-cols-1 row-cols-md-4">
        <div class="col mb-4" *ngFor="let character of characters |async">
          <div class="card h-100 bg-dark text-white text-center p-3" >
            <img src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}" class="card-img-top" alt="{{character.name}}">
            <div class="card-body">
                <h5 class="card-title">{{character.name}}</h5>
            
                <!-- <a href="{{character.urls[0].url}}" target="_blank" class="btn btn-outline-primary btn-block">Details</a> -->

                <button (click)="getCharacter(character.id)" class="btn btn-outline-primary btn-block">Details</button>

              
            </div>
          </div>
        </div>
    </div>    
    
    
    
    


